html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif; }

* {
  margin: 0;
  box-sizing: border-box; }

.noMostrar {
  visibility: hidden; }

.mostrar {
  visibility: visible; }

.navigation {
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 11rem;
  color: #000;
  border-bottom: 0.2px solid #000; }
  .navigation .logoFinan {
    width: 50%; }
  .navigation .navigationContainer {
    width: 80%;
    display: flex;
    list-style: none;
    font-size: 2rem;
    text-align: center;
    justify-content: center; }
    .navigation .navigationContainer .linkItem {
      width: 30rem;
      padding: 3rem;
      color: #2f0e30;
      font-weight: bolder;
      text-decoration: none; }
  .navigation .navigationButtons {
    display: flex;
    justify-content: space-around; }
    .navigation .navigationButtons button {
      background: linear-gradient(174.48deg, #36419F -12.41%, #9632E4 91.04%);
      border-radius: 4rem;
      padding: 1rem 2rem;
      margin-left: 2rem;
      border: none;
      width: 15rem;
      height: 5rem; }
      .navigation .navigationButtons button a {
        font-weight: bolder;
        font-size: 1.6rem;
        text-decoration: none;
        color: #fff; }

.footer {
  width: 100%;
  background-color: #000; }
  .footer .footerElements {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .footerElements img {
      margin: 4rem;
      width: 5rem; }
  .footer div {
    display: flex;
    justify-content: center;
    width: 100%; }
    .footer div .footerText {
      color: #fff;
      font-size: 2.5rem; }

#inicio {
  background-image: url(../images/svgBg1.svg);
  width: 100%;
  height: 100rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  #inicio article {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    align-items: center;
    text-align: center; }
    #inicio article h2 {
      color: white;
      font-size: 7rem;
      font-weight: 300;
      width: 100%; }
      #inicio article h2 span {
        font-weight: bold;
        background: -webkit-linear-gradient(#7c5ff0, #ce76ce);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    #inicio article button {
      margin: 2rem;
      background-color: #340141ea;
      width: 24rem;
      height: 9rem;
      border-style: none;
      border-radius: 10rem; }
      #inicio article button a {
        background: -webkit-linear-gradient(#7c5ff0, #ce76ce);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 2.4rem; }
  #inicio .contenedorInicioImagen {
    width: 50%;
    text-align: center; }
    #inicio .contenedorInicioImagen img {
      width: 50%;
      filter: brightness(120%);
      filter: contrast(150%); }

#confiarEn {
  background-image: url(../images/bgQuienes.svg);
  width: 100%;
  height: 120rem; }
  #confiarEn h2 {
    text-align: center;
    font-size: 6rem;
    background: -webkit-linear-gradient(#3a2697, #d32dd3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  #confiarEn .contenedorConfiar {
    display: flex;
    width: 100%;
    height: 100rem;
    align-items: center;
    justify-content: center; }
    #confiarEn .contenedorConfiar .cardConfiar {
      margin: 2rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      background: #ffffff;
      box-shadow: 0 8px 16px 0 rgba(83, 35, 160, 0.404);
      width: 30%;
      height: 80rem;
      border-radius: 4rem; }
      #confiarEn .contenedorConfiar .cardConfiar img {
        width: 80%;
        border-radius: 2rem; }
      #confiarEn .contenedorConfiar .cardConfiar h3 {
        font-size: 4rem;
        color: #000; }
      #confiarEn .contenedorConfiar .cardConfiar p {
        font-size: 2rem;
        color: #000; }

#servicios h2 {
  text-align: center;
  font-size: 6rem;
  background: -webkit-linear-gradient(#3a2697, #d32dd3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

#servicios .contenedorCardsServicios {
  display: flex;
  width: 100%;
  height: 100rem;
  align-items: center;
  justify-content: center; }
  #servicios .contenedorCardsServicios .cardServicios {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(83, 35, 160, 0.404);
    width: 30%;
    height: 60rem;
    border-radius: 4rem; }
    #servicios .contenedorCardsServicios .cardServicios img {
      width: 40%;
      border-radius: 2rem; }
    #servicios .contenedorCardsServicios .cardServicios h3 {
      font-size: 3rem;
      color: #000;
      margin: 4rem; }
    #servicios .contenedorCardsServicios .cardServicios p {
      font-size: 1.8rem;
      color: #000; }

#contenedorSimulador {
  background-image: url(../images/backform.svg);
  min-height: 50vh; }
  #contenedorSimulador h2 {
    text-align: center;
    color: #fafafa;
    font-size: 3rem;
    padding: 7rem; }
  #contenedorSimulador #simulador {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70rem; }
    #contenedorSimulador #simulador #simuladorCampos {
      background: #aa83e9a9;
      color: white;
      display: flex;
      flex-flow: row wrap;
      align-content: space-between;
      justify-content: space-between;
      list-style: none;
      font-size: 2.5rem;
      width: 120rem;
      border-radius: 2rem; }
      #contenedorSimulador #simulador #simuladorCampos li {
        margin: 3rem; }
        #contenedorSimulador #simulador #simuladorCampos li .li:nth-child(2n) {
          line-break: after; }
        #contenedorSimulador #simulador #simuladorCampos li input {
          width: 30rem; }
        #contenedorSimulador #simulador #simuladorCampos li select {
          width: 20rem; }
        #contenedorSimulador #simulador #simuladorCampos li #botonCalc, #contenedorSimulador #simulador #simuladorCampos li #botonEnviar {
          font-family: 'Poppins', sans-serif;
          font-size: 1.8rem;
          font-weight: bold;
          background: linear-gradient(174.48deg, #36419F -12.41%, #9632E4 91.04%);
          color: white;
          margin: 1rem;
          padding: 2rem;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          border: none;
          background-size: 200% auto;
          box-shadow: 0 0 20px #2c0329;
          border-radius: 10px;
          display: block;
          cursor: pointer; }
  #contenedorSimulador .contenedorTabla {
    display: flex;
    justify-content: center;
    height: fit-content; }
    #contenedorSimulador .contenedorTabla #tablaPrestamos {
      width: 50%;
      margin: 2rem 0;
      text-align: center;
      font-size: 2.2rem;
      border-radius: 1.5rem 1.5rem  0 0;
      overflow: hidden; }
      #contenedorSimulador .contenedorTabla #tablaPrestamos thead tr {
        background: #5f14c2b7;
        color: white; }
      #contenedorSimulador .contenedorTabla #tablaPrestamos tbody tr {
        background-color: #e5bbeeb4;
        color: rgba(0, 0, 0, 0.7); }
      #contenedorSimulador .contenedorTabla #tablaPrestamos tbody tr:nth-of-type(even) {
        background: #f1e8fd9d;
        color: rgba(0, 0, 0, 0.7); }
